<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

{% comment %} CSS from w3schools. {% endcomment %}
<style>
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    display: block;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: #111;

    div.post {
        border: solid black 2px;
        margin: 5px;
    }
</style>


<div class="container">
    <div name="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/votes/">Sort by Votes</a></li>
            <li><a href="/boasts/">Boasts</a></li>
            <li><a href="/roasts/">Roasts</a></li>
            <li><a href="/newpost/">Make a post</a></li>
        </ul>
    </div>
    {% for post in posts%}
        <div class="post" style="border: solid; margin: 10px; padding: 5px;">
            <h2><b>{{ post.title }}</b></h2>
            
            {% comment %} Idea for conditional learned from https://retentionscience.zendesk.com/hc/en-us/articles/115003025814-How-To-Build-HTML-for-Conditional-Statements {% endcomment %}
            {% if post.boast_roast == True %}
                <h3>Boast</h3>
            {% else %}
                <h3>Roast</h3>
            {% endif %}

            <b><a href="/upvote/{{post.id}}/">Upvote: </a>{{post.up_field}}</b>
            <b><a href="/upvote/{{post.id}}/">Downvote: </a>{{post.down_field}}</b>
            <h3>Votes: {{ post.votes }}</h3>
            <h5>Posted: {{ post.post_date }}</h5>
        </div>
    {% endfor %}
</div>